<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Node editProfile</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- load bootstrap css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="client/style/css-dest/style.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- tag-editor -->
    <script src="bower_components/jquery-tag-editor/jquery.tag-editor.js"></script>
    <link rel="stylesheet" href="bower_components/jquery-tag-editor/jquery.tag-editor.css">
    <!-- circliful -->
    <link href="bower_components/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <script src="bower_components/circliful/js/jquery.circliful.min.js"></script>
    <!-- hmap -->
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/modules/map.js"></script>
    <script src="bower_components/highcharts/modules/data.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/th/th-all.js"></script>

    <!-- rateYo -->
    <link rel="stylesheet" href="bower_components/rateYo/min/jquery.rateyo.min.css" />
    <script src="bower_components/rateYo/min/jquery.rateyo.min.js"></script>

    <!-- collapse -->
    <script type="text/javascript" src="bower_components/collapsible.js/jquery.collapsible.js"></script>
    <!--modals  -->
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <!-- bootstrap social -->
    <link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
</head>


<body ng-app="sindicate">


    <div class="header">
        <div class="toptools">
            <div class="logo" style="background:url('/images/people.svg') no-repeat center center;background-size:contain;">
                <!-- <p>
                    sindicate <span><i class="fa fa-pie-chart"></i></span>
                </p> -->
            </div>
            <div class="logout">
                <p>
                    <a href="/logout">ออกจากระบบ</a>
                </p>
            </div>
        </div>
        <div class="brief-profile">
            <div class="circle-picture" style="background:url('/images/mypic.jpg') center center;background-size:cover;"></div>
            <div class="desc">
                <div class="greeting_msg">
                    <%=  msg %>
                </div>

                <p>เคโรโระ เซนเซย์</p>

                <div class="icontools">
                    <div class="item">
                        <a href="/editProfile">
                            <p class="rightborder"> <span><i class="fa fa-user" aria-hidden="true"></i></span> ข้อมูลส่วนตัว</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <p><span><i class="fa fa-file-image-o" aria-hidden="true"></i></span> อัพโหลดรูปโปรไฟล์</p>
                        </a>
                    </div>

                </div>

            </div>
            <div class="desc">
                <p class="thx"> <span><i class="fa fa-line-chart"></i></span> ขอบคุณที่ให้ข้อมูลกับเราเพื่อนำไปพัฒนาปรับปรุงคุณภาพนิสิตต่อไป
                </p>

                <div class="progress">

                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="layout" ng-controller="MainController">
        <div class="menuwrapper">
            <div class="menu">
                <div class="menuname">
                    ข้อมูลส่วนตัว
                </div>

                <ul>
                    <li ng-click='isVisible = "manageProfile"'><a id="manageprofile" href="">ข้อมูลส่วนตัว</a></li>
                </ul>
            </div>
            <div class="menu">
                <div class="menuname">
                    สถิติของภาควิชา
                </div>


                <ul>
                    <li ng-click='isVisible = "numPeople"'><a id="numPeople" href="">จำนวนนิสิตและบุคลากร</a></li>
                    <li ng-click='isVisible = "eduOverview"'><a href="">ภาพรวมทางการศึกษา</a></li>
                    <li ng-click='isVisible = "thesisOverview"'><a id="thesisOverview" href="">ภาพรวมวิทยานิพนธ์</a></li>
                    <li ng-click='isVisible = "pollInterest"'><a href="">ผลสำรวจความถนัด/ความสนใจ</a></li>
                    <li ng-click='isVisible = "pollInternship"'><a href="">ผลสำรวจการฝึกงาน</a></li>
                    <li ng-click='isVisible = "pollFurtherEdu"'><a href="">ผลสำรวจการศึกษาต่อ</a></li>
                    <li ng-click='isVisible = "pollJob"'><a href="">ผลสำรวจการประกอบอาชีพ</a></li>
                </ul>
            </div>
            <div class="menu">
                <div class="menuname">
                    เครื่องมือ
                </div>


                <ul>
                    <li ng-click='isVisible = "track"'><a id="track" href="">ระบบติดตามผลการเรียนนิสิต</a></li>
                    <!-- <li ng-click='isVisible = "eduOverview"'><a href="">ภาพรวมทางการศึกษา</a></li>
                    <li ng-click='isVisible = "thesisOverview"'><a href="">ภาพรวมวิทยานิพนธ์</a></li>
                    <li ng-click='isVisible = "pollInterest"'><a href="">ข้อมูลความถนัด/ความสนใจ</a></li>
                    <li ng-click='isVisible = "pollInternship"'><a href="">ผลสำรวจการฝึกงาน</a></li>
                    <li ng-click='isVisible = "pollFurtherEdu"'><a href="">ผลสำรวจการศึกษาต่อ</a></li>
                    <li ng-click='isVisible = "pollJob"'><a href="">ผลสำรวจการประกอบอาชีพ</a></li> -->
                </ul>
            </div>
        </div>

        <div class="contentwrapper">

            <!-- manage profile -->
            <div class="content" ng-show='isVisible === "manageProfile"'>
                <div class="content_head">จัดการข้อมูลส่วนตัว<span><i class="fa fa-print"></i></span></div>
                <form id="manageprofiledata">

                    <div class="form-group">
                        <label for="x">คำนำหน้าชื่อ</label>
                        <input type="text" class="form-control" id="tt" placeholder="">
                    </div>

                    <div class="form-inline">
                        <div class="form-group">
                            <label for="x">ชื่อ</label>
                            <input type="text" class="form-control" id="firstName" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">นามสกุล</label>
                            <input type="text" class="form-control" id="lastName" placeholder="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="x">เพศ</label>
                        <input type="text" class="form-control" id="gender" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">ตำแหน่ง</label>
                        <input type="text" class="form-control" id="position" placeholder="">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="x">คณะ</label>
                                <input type="text" class="form-control" id="faculty" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">ภาค</label>
                                <input type="text" class="form-control" id="department" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="x">ความเชี่ยวชาญ</label>
                        <input type="text" class="form-control" id="spacialize" placeholder="">
                    </div>


                    <div class="form-group">
                        <label for="x">ห้องพักอาจารย์</label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="x">ห้อง</label>
                                <input type="text" class="form-control" id="room" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">ตึก</label>
                                <input type="text" class="form-control" id="building" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="form-group">
                            <label for="x">วันเริ่มทำงาน</label>
                            <input type="text" class="form-control" id="startdate" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">วันสิ้นสุดการทำงาน</label>
                            <input type="text" class="form-control" id="enddate" placeholder="">
                        </div>
                    </div>

                    <div class="form-group" style="width:300px;">
                        <label for="x">วันเกิด</label>
                        <input type="text" class="form-control" id="birthdate" placeholder="">
                    </div>

                    <div class="form-group last">
                        <button id="manageprofile_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="manageprofile_submit_btn" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>
                </form>
            </div>
            <!-- end manage profile -->

            <!-- departmental students -->
            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามสถานะ<span><i class="fa fa-print"></i></span></div>

                <label for="x" style="font-size:20px;padding:10px">ปริญญาตรี</label>
                <div class="meterGroup">
                    <div class="meter" id="b_numStu"></div>
                    <div class="meter" id="b_numStuExchange"></div>
                    <div class="meter" id="b_numStuDrop"></div>
                    <div class="meter" id="b_numStuRetry"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <hr>

                <label for="x" style="font-size:20px;padding:10px">ปริญญาโท</label>
                <div class="meterGroup">
                    <div class="meter" id="m_numStu"></div>
                    <div class="meter" id="m_numStuExchange"></div>
                    <div class="meter" id="m_numStuDrop"></div>
                    <div class="meter" id="m_numStuRetry"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <hr>

                <label for="x" style="font-size:20px;padding:10px">ปริญญาเอก</label>
                <div class="meterGroup">
                    <div class="meter" id="d_numStu"></div>
                    <div class="meter" id="d_numStuExchange"></div>
                    <div class="meter" id="d_numStuDrop"></div>
                    <div class="meter" id="d_numStuRetry"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <hr>

            </div>
            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามที่อยุ่อาศัยปัจจุบัน<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="chartStuPlace"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "eduOverview"'>
                <div class="content_head">ภาพรวมทางการศึกษาของคณะ<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="eduOverview"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "thesisOverview"'>
                <div class="content_head">ภาพรวมวิทยานิพนธ์ของคณะ<span><i class="fa fa-print"></i></span></div>
                <div class="meterGroup">
                    <div class="meter" id="m_thpub"></div>
                    <div class="meter" id="m_intpub"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">ปริญญาโท</div>
                    <div class="panel-body">

                        <p>สงวนลิขสิทธิ์ วิทยานิพนธ์ของบัณฑิตวิทยาลัย จุฬาลงกรณ์มหาวิทยาลัย จัดทำโดยแอปพลิเคชันซินดิเคท </p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>รหัส</th>
                                <th>หัวเรื่อง</th>
                                <th>ชื่อผู้แต่ง</th>
                                <th>สาขาวิชา</th>
                                <th>อาจารย์ที่ปรึกษา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">563321094</a></th>
                                <td>การออกแบบและวิเคราะห์อัลกอริทึมในการปิ้งลูกชิ้น</td>
                                <td>นายวชิรกรณ์ รังสิกวานิช</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ดร.สมคิด จิตอาสา</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">513321489</a></th>
                                <td>การสร้างภาพเคลื่อนไหวด้วยคำสั่งเสียง</td>
                                <td>นายสมร สอนสาย</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ดร.อะไรดี มีตังใช้</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">234321489</a></th>
                                <td>เกมเสมือนจริงจำลองการบินของนก</td>
                                <td>นางสาวลารี่ เหินนภา</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ศ.ดร.ปัญญา พามีชัย</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="content" ng-show='isVisible === "pollInterest"'>
                <div class="content_head">ผลสำรวจความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="poll1"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">อันดับความนิยมของภาษาคอมพิวเตอร์</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อ</th>
                                <th>จำนวน</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>C++</td>
                                <td>200</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>Python</td>
                                <td>100</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>Javascript</td>
                                <td>50</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">4</a></th>
                                <td>Java</td>
                                <td>40</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">5</a></th>
                                <td>Ruby on rails</td>
                                <td>35</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">6</a></th>
                                <td>PHP</td>
                                <td>75</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content" ng-show='isVisible === "pollInterest"'>
                <div class="content_head">ผลสำรวจความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="poll2"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">อันดับงานอดิเรก</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อ</th>
                                <th>จำนวน</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>เล่นเกม</td>
                                <td>180</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>ดูอนิเมะ</td>
                                <td>90</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>เขียนเว็บ</td>
                                <td>87</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>ดูทีวี</td>
                                <td>43</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>นอน</td>
                                <td>15</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="content" ng-show='isVisible === "pollInternship"'>
                <div class="content_head">ผลสำรวจการฝึกงาน<span><i class="fa fa-print"></i></span></div>
                <!-- <div id="chart1_{{student.id}}" style="height: 200px;width:500px;"></div>
                <div id="chart1_{{student.id}}" style="height: 200px;width:500px;"></div> -->
            </div>

            <div class="content" ng-show='isVisible === "pollFurtherEdu"'>
                <div class="content_head">ผลสำรวจการศึกษาต่อต่างมหาวิทยาลัย<span><i class="fa fa-print"></i></span></div>

            </div>

            <div class="content" ng-show='isVisible === "pollJob"'>
                <div class="content_head">ข้อมูลการศึกษาต่อต่างมหาวิทยาลัย<span><i class="fa fa-print"></i></span></div>

            </div>

            <div class="content" ng-show='isVisible === "track"' ng-controller="modalController">
                <div class="content_head">ระบบติดตามผลการเรียนนิสิต<span><i class="fa fa-print"></i></span></div>

                <div class="panel panel-default">
                    <div class="panel-heading">รายชื่อนิสิตในที่ปรึกษา </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>รหัสนิสิต</th>
                                <th>ชื่อ</th>
                                <th>ชั้นปี</th>
                                <th>GPAX</th>
                                <th>ปักธง</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="student in students">
                                <th scope="row"><a href="#">{{student.id}}</a></th>
                                <td>{{student.name}}</td>
                                <td>{{student.year}}</td>
                                <td>{{student.gpax}}</td>
                                <td><i class="fa fa-flag" style="color:#e60000;" ng-show="{{student.isflagged}}" aria-hidden="true"></i> </td>
                                <td>


                                    <!-- Trigger the modal with a button -->


                                    <!-- Modal -->

                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{'modal'+student.id}}" id="more_btn{{student.id}}">{{modal_btn_text}}</button>
                                    <div class="modal fade" id="{{'modal'+student.id}}" role="dialog">
                                        <div class="modal-dialog modal-lg">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h2 class="modal-title">{{ prefixtitle}} <b>{{student.name}}</b></h2>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="stuwrapper">
                                                        <div class="circle-picture" style="background:url('{{student.imgUrl}}') center center;background-size:cover;"></div>
                                                        <div class="studata">
                                                            <label for="">ผลการศึกษา</label>
                                                            <hr>
                                                            <li>GPAX : {{student.gpax}}</li>
                                                            <li>GPA : {{student.gpa}}</li>
                                                            <li>คะแนนการเข้าเรียน : {{student.attendScore}}</li>
                                                        </div>
                                                        <div class="studata">
                                                            <label for="">ข้อมูลส่วนตัว</label>
                                                            <hr>
                                                            <li>เพศ : {{student.gender}}</li>
                                                            <li>วันเกิด : {{student.birthdate| date}}</li>
                                                            <li>คณะ : {{student.faculty}}</li>
                                                            <li>ภาควิชา : {{student.department}}</li>
                                                            <li>วุฒิการศึกาา : {{student.degree}}</li>
                                                            <li>ชั้นปี : {{student.year}}</li>
                                                            <li>เบอร์โทรศัพท์ : {{student.tel}}</li>
                                                            <li>เบอร์โทรผู้ปกครอง : {{student.parentTel}}</li>


                                                            <span><a class="btn btn-social-icon btn-twitter">
                                                                <span class="fa fa-twitter"></span>
                                                            </a>
                                                            <a href="{{student.fbUrl}}" class="btn btn-social-icon btn-facebook">
                                                                <span class="fa fa-facebook"></span>
                                                            </a>
                                                            </span>
                                                        </div>
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d242.23621818145554!2d100.52824510028262!3d13.73179600289022!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d13.7317859!2d100.5281526!5e0!3m2!1sth!2sth!4v1461355591682" width="25%" height="100%"
                                                            style="max-height: 500px;" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="chartwrapper">
                                                        <div id="chart1_{{student.id}}" style="height: 200px;width:100%;"></div>

                                                    </div>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>


        </div>


        <div class="footer">

        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXhWzOAhkZp0VltRHFhwlrwOawGHP02nk&callback=initMap" async defer></script>
        <script type="text/javascript" src="../script/overviewStuPlace.js"></script>
        <script type="text/javascript" src="../script/stuMeter.js"></script>
        <script type="text/javascript" src="../script/manageprofile.js"></script>
        <script type="text/javascript" src="../script/eduOverview.js"></script>
        <script type="text/javascript" src="../script/pie.js"></script>
        <script type="text/javascript" src="../script/collapse.js"></script>
        <script type="text/javascript" src="../script/managethesis.js"></script>
        <script type="text/javascript" src="../script/modalgpa.js"></script>
        <script type="text/javascript" src="../script/tageditor.js"></script>
          <script type="text/javascript" src="../script/manageinternship.js"></script>

        <script src="script/app.js"></script>

        <script type="text/javascript">
            // var map;
            //
            // function initMap() {
            //     map = new google.maps.Map(document.getElementById('map'), {
            //         center: {
            //             lat: 13.788399,
            //             lng: 100.544284
            //         },
            //         zoom: 10
            //     });
            //
            //     //add location here
            //     var engchula = {
            //         lat: 13.7365719,
            //         lng: 100.5332646
            //     };
            //
            //
            //     // end location variables
            //     var marker = new google.maps.Marker({
            //         position: engchula,
            //         map: map,
            //         title: 'Hello World!'
            //     });
            //
            //
            // }

            /*            $(document).ready(function() {

                            $("body").find("input").attr("disabled", "true");
                            $("body").find("textarea").attr("disabled", "true");
                            $('#manageprofile').click(function() {

                            });

                            overviewStuPlace(<%- JSON.stringify(province) %>);
                            eduOverview();
                            pollInerest();

                        });
            */

            $(document).ready(function() {

                $("body").find("input").attr("disabled", "true");
                $("body").find("textarea").attr("disabled", "true");
                $('#manageprofile').click(function() {



                });

                overviewStuPlace(<%- JSON.stringify(province) %>);
                eduOverview();
                pollInerest();

                $("#manageprofile").click(function() {

                    setTimeout(function() {
                        fillprofileteacher(<%- JSON.stringify(profile) %>);
                        // initMap();

                    }, 200);
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");

                    }, 300);

                });

            });

            $(function() {

                $('#thesis_edit_btn').click(function() {
                    $("#thesisdata").find("input").removeAttr("disabled", "true");
                    $("#thesisdata").find("textarea").removeAttr("disabled", "true");
                    //  alert("click");
                });
                $('#thesis_submit_btn').click(function() {
                    $("#thesisdata").find("input").attr("disabled", "true");
                    $("#thesisdata").find("textarea").attr("disabled", "true");
                    //  alert("click");
                });

                modalgpa();

            });
        </script>

</body>
