<!DOCTYPE html>
<html ng-app="example">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../../../bower_components/angular/angular.js"></script>
    <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../../bower_components/highcharts/highcharts.js"></script>
    <script src="../../../../bower_components/highcharts/modules/map.js"></script>
    <script src="../../../../bower_components/highcharts/modules/data.js"></script>
    <script src="../../../../bower_components/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/th/th-all.js"></script>
  </head>
  <body ng-controller="MainController">

    <div class="" ng-repeat="row in datarow">
      {{row.name}}
      <button ng-click="showChart($index)">
        Show chart
      </button>
    </div>

    <button ng-click="closeChart()" ng-if="isShowChart">Close chart</button>
    <modal-chart data-source="currentData" ng-if="isShowChart"></modal-chart>

  </body>
  <!-- Imort script -->
  <script src="./ngModelChart.js" charset="utf-8"></script>

  <script type="text/javascript">
    angular.module('example', ['ngModalChart']). // Add Module
    controller('MainController', [
      '$scope',
      function($scope) {



        $scope.isShowChart = false;
        //CHANGE CURRENTDATA OF CHART
        $scope.showChart = function(index){
          $scope.isShowChart = true;

          $scope.currentData = $scope.datarow[index];
        }
        $scope.closeChart = function(){
          $scope.isShowChart =false;
        }


        // ALL DATA
        $scope.datarow = [
          {
            name: "someone",
            email: "something@me.com",
            chartdata:{
              title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
              },
              subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
              },
              xAxis: {
                categories: [
                  'Jan',
                  'Feb',
                  'Mar',
                  'Apr',
                  'May',
                  'Jun',
                  'Jul',
                  'Aug',
                  'Sep',
                  'Oct',
                  'Nov',
                  'Dec'
                ]
              },
              yAxis: {
                title: {
                  text: 'Temperature (°C)'
                },
                plotLines: [
                  {
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }
                ]
              },
              tooltip: {
                valueSuffix: '°C'
              },
              legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
              },
              series: [
                {
                  name: 'Toababakyo',
                  data: [
                    74.0,
                    64.9,
                    9.5,
                    124.5,
                    118.2,
                    21.5,
                    25.2,
                    26.5,
                    23.3,
                    18.3,
                    13.9,
                    9.6
                  ]
                }, {
                  name: 'bacngkok',
                  data: [
                    -0.2,
                    0.8,
                    5.7,
                    11.3,
                    7.0,
                    22.0,
                    4.8,
                    24.1,
                    20.1,
                    4.1,
                    8.6,
                    2.5
                  ]
                }, {
                  name: 'babah',
                  data: [
                    -0.9,
                    0.6,
                    3.5,
                    8.4,
                    3.5,
                    7.0,
                    18.6,
                    17.9,
                    74.3,
                    9.0,
                    3.9,
                    1.0
                  ]
                }, {
                  name: 'Lonbabaadon',
                  data: [
                    3.9,
                    4.2,
                    5.7,
                    8.5,
                    11.9,
                    15.2,
                    77.0,
                    16.6,
                    14.2,
                    0.3,
                    62.6,
                    4.8
                  ]
                }
              ]
            }
          }, {
            name: "rungsikorn",
            email: "rungsikorn@me.com",
            chartdata:{
              title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
              },
              subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
              },
              xAxis: {
                categories: [
                  'Jan',
                  'Feb',
                  'Mar',
                  'Apr',
                  'May',
                  'Jun',
                  'Jul',
                  'Aug',
                  'Sep',
                  'Oct',
                  'Nov',
                  'Dec'
                ]
              },
              yAxis: {
                title: {
                  text: 'Temperature (°C)'
                },
                plotLines: [
                  {
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }
                ]
              },
              tooltip: {
                valueSuffix: '°C'
              },
              legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
              },
              series: [
                {
                  name: 'Tokyo',
                  data: [
                    7.0,
                    6.9,
                    9.5,
                    14.5,
                    18.2,
                    21.5,
                    25.2,
                    26.5,
                    23.3,
                    18.3,
                    13.9,
                    9.6
                  ]
                }, {
                  name: 'New York',
                  data: [
                    -0.2,
                    0.8,
                    5.7,
                    11.3,
                    17.0,
                    22.0,
                    24.8,
                    24.1,
                    20.1,
                    14.1,
                    8.6,
                    2.5
                  ]
                }, {
                  name: 'Berlin',
                  data: [
                    -0.9,
                    0.6,
                    3.5,
                    8.4,
                    13.5,
                    17.0,
                    18.6,
                    17.9,
                    14.3,
                    9.0,
                    3.9,
                    1.0
                  ]
                }, {
                  name: 'London',
                  data: [
                    3.9,
                    4.2,
                    5.7,
                    8.5,
                    11.9,
                    15.2,
                    17.0,
                    16.6,
                    14.2,
                    10.3,
                    6.6,
                    4.8
                  ]
                }
              ]
            }
          }
        ]
      }
    ])
  </script>
</html>
