<!DOCTYPE html>
<html ng-app="example">

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../../../bower_components/angular/angular.js"></script>
    <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../../bower_components/highcharts/highcharts.js"></script>
    <script src="../../../../bower_components/highcharts/modules/map.js"></script>
    <script src="../../../../bower_components/highcharts/modules/data.js"></script>
    <script src="../../../../bower_components/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/th/th-all.js"></script>
</head>

<body ng-controller="MainController">

    <div class="" ng-repeat="row in datarow">
        {{row.name}}
        <button ng-click="showChart($index)">
            Show chart
        </button>
    </div>

    <button ng-click="closeChart()" ng-if="isShowChart">Close chart</button>
    <modal-chart data-source="currentData" ng-if="isShowChart"></modal-chart>

</body>
<!-- Imort script -->
<script src="./ngModelChart.js" charset="utf-8"></script>

<script type="text/javascript">
    angular.module('example', ['ngModalChart']). // Add Module
    controller('MainController', [
        '$scope',
        function($scope) {



            $scope.isShowChart = false;
            //CHANGE CURRENTDATA OF CHART
            $scope.showChart = function(index) {
                $scope.isShowChart = true;

                $scope.currentData = $scope.datarow[index];
            }
            $scope.closeChart = function() {
                $scope.isShowChart = false;
            }


            // ALL DATA
            $scope.datarow = [{
                cid: "2110327",
                name: "Algorithm Design",
                chartdata: {
                    title: {
                        text: 'กราฟแสดงเกรดเฉลี่ยของนิสิตทั้งหมดในรายวิชา',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'แสดงผลตามปีการศึกษา',
                        x: -20
                    },
                    xAxis: {
                        categories: [
                            '2554/1',
                            '2555/1',
                            '2556/1',
                            '2557/1',
                            '2558/1'
                        ]
                    },
                    yAxis: {
                        title: {
                            text: 'Grade'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Grade',
                        data: [
                            2.89,
                            3.57,
                            3.00,
                            3.14,
                            3.33
                        ]
                    }, ]
                }
            }, {
                cid: "2110352",
                name: "Computer System Architectures",
                chartdata: {
                    title: {
                        text: 'กราฟแสดงเกรดเฉลี่ยของนิสิตทั้งหมดในรายวิชา',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'แสดงผลตามปีการศึกษา',
                        x: -20
                    },
                    xAxis: {
                        categories: [
                            '2554/1',
                            '2555/1',
                            '2556/1',
                            '2557/1',
                            '2558/1'
                        ]
                    },
                    yAxis: {
                        title: {
                            text: 'Grade'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Grade',
                        data: [
                            3.09,
                            3.21,
                            3.44,
                            3.79,
                            3.58
                        ]
                    }, ]
                }
            }, {
                cid: "2110332",
                name: "Systems Analysis and Design",
                chartdata: {
                    title: {
                        text: 'กราฟแสดงเกรดเฉลี่ยของนิสิตทั้งหมดในรายวิชา',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'แสดงผลตามปีการศึกษา',
                        x: -20
                    },
                    xAxis: {
                        categories: [
                            '2554/2',
                            '2555/2',
                            '2556/2',
                            '2557/2',
                            '2558/2'
                        ]
                    },
                    yAxis: {
                        title: {
                            text: 'Grade'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Grade',
                        data: [
                            3.49,
                            2.89,
                            3.88,
                            3.39,
                            3.75
                        ]
                    }, ]
                }
            }, {
                cid: "2110422",
                name: "Database  Management",
                chartdata: {
                    title: {
                        text: 'กราฟแสดงเกรดเฉลี่ยของนิสิตทั้งหมดในรายวิชา',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'แสดงผลตามปีการศึกษา',
                        x: -20
                    },
                    xAxis: {
                        categories: [
                            '2554/2',
                            '2555/2',
                            '2556/2',
                            '2557/2',
                            '2558/2'
                        ]
                    },
                    yAxis: {
                        title: {
                            text: 'Grade'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Grade',
                        data: [
                            3.88,
                            3.19,
                            3.08,
                            3.46,
                            3.89
                        ]
                    }, ]
                }
            }, {
                cid: "2110318",
                name: "Distributed Systems Essentials",
                chartdata: {
                    title: {
                        text: 'กราฟแสดงเกรดเฉลี่ยของนิสิตทั้งหมดในรายวิชา',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'แสดงผลตามปีการศึกษา',
                        x: -20
                    },
                    xAxis: {
                        categories: [
                            '2554/2',
                            '2555/2',
                            '2556/2',
                            '2557/2',
                            '2558/2'
                        ]
                    },
                    yAxis: {
                        title: {
                            text: 'Grade'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Grade',
                        data: [
                            3.88,
                            2.57,
                            3.11,
                            3.49,
                            4.00
                        ]
                    }, ]
                }
            }]
        }
    ])
</script>

</html>
